body {
    font-family: sans-serif;
    background-color: #1A2238;
}

.searchForm {
    border: 3px solid #FF6A3D;
    background-color: #1A2238;
    color: #9DAAF2;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.halfSize {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.resultsDiv {
    background-color: white;
    color: black;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border: 2px solid #FF6A3D;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

.resultsContainer {
    color: black;
}

.white {
    color: white;
}

.btn-icon {
    background-color: #1A2238;
    border: none;
    color: #F4DB7D;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }

  .btn-icon-big {
    background-color: #1A2238;
    border: none;
    color: #F4DB7D;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;  
  }

  .left {
      text-align: left;
  }

  h2 {
    font-family: 'Josefin Sans', sans-serif;
  }

  .smallText {
      font-size: x-small;
  }