body {
    font-family: sans-serif;
}

.searchForm {
    border: 3px solid darkcyan;
    color: black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.halfSize {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}

.resultsDiv {
    background-color: white;
    color: black;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border: 2px solid black;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

.resultsContainer {
    color: black;
}

.white {
    color: white;
}